/* tablet */

 
@media screen and (min-width: 586px){

body {
  /* background-color:rgb(231, 220, 27); */
 --padding-categorias:0px;
 --fondo-clarito: white;
 --fondo-oscuro: black;
 --letra-clarita: white;
 --letra-oscura: black;
 --letra-color: orange;
 background-color:rgb(78, 95, 210);
 --header-p-span-color:orange;
--buscar-box-border: solid #e7a61a;
--texto-buscar-color:grey;
--mas-info-border-color:solid green;
--mas-info-a-p-border-color:grey;
--li-border-color:gold;
--li-border:grey solid;
--dunlop-boder-color:grey;
--linea3-border-color:grey;
--footers-background: black;
--footer-iconos-background-color:black;
--footer-iconos-gris-parent-background-color:black;
--grid-item1b-background-color:black;
--footer1-igualar-background-color:black;
--footer1-img:black;
--footer4-border-color:grey;
}
  

/* layout */
.blog-text-size {
  font-size:50px;
}


.tablet-no {
display:none;
}

.tablet-si {
  display:block;
}

.header1{
  width:100svw;
  height: 300px;
  display:flex; 
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
  align-content: center;
  flex-basis: 20%;  
  }

.header2{
  width:100svw;
  height: 300px;
  display:flex; 
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
  align-content: center;
  flex-basis: 20%;  
}

  /* styles */

  
.header1_img1 {
  width:min(90px, 25svw);
}

.header1_img2{
  width:min(15px, 10svw);
}

header>p>span {
  color:var(--header-p-span-color);
}

.header2>div {
  padding:2px;
}
.header2>div>.img1 {
  width:5svw;
}
.header2>div>.img2 {
  width:5svw;
}
.header2>div>.img3 {
  width:25svw;
}

.header2>div>.img4 {
  width:5svw;
  height:23px;
}

.header2>div>.img5 {
  width:5svw;
  height:23px;
}

.letter-size {
  font-size:smaller;
}
.buscar-box {
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 1px var(--buscar-box-border);
  width:30svw;
  margin-left: 0 svw;
  margin-right: 0 svw;
}


.formato-caja{
  margin-left:15svw;
  margin-right:15svw;
}

.texto-buscar {
  color: var(--texto-buscar-color)
}

.carrito-margen {
  margin-right:5px !important;
  margin-left:5px;
}

.logo-position-tablet {
 margin:0; 
}

.sliders {
 display:flex;
}

.margen-slider {
  padding-right:5px;
}

.slider>img {
  width:50vw ;
} 

.slider2>img {
  width:50wv;
}

.tablet-left {
  text-align:left !important; /*  ToDo si hay tiempo quitar el important */
}
.seccion-productos > h3 { 
  padding-bottom:5px;
  text-align:center;  
}


.productos-grid-parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0px;
  justify-items:center;
  padding-top:20px;
}


.grid-item1{
  grid-row-start:1;
  grid-column-start: 1;
  grid-column-end:1;
  }
  
.grid-item7 { 
  grid-row-start:1;
  grid-column-start:2 ;
  grid-column-end:2;
  padding:var(--padding-categorias);
}
  
.grid-item2 {
  grid-row-start:1;
  grid-column-start:3;
  grid-column-end:3;
  padding:var(--padding-categorias);
}
  
.grid-item8 {
  grid-row-start:1;
  grid-column-start:4;
  grid-column-end:4;
  padding:var(--padding-categorias);
}
  
.grid-item3 {
  grid-row-start:1;
  grid-column-start:5;
  grid-column-end:5;
    }

.grid-item9 {
  grid-row-start:1;
  grid-column-start:6;
  grid-column-end:6;
}

.grid-item4 {
  grid-row-start:2;
  grid-column-start:1;
  grid-column-end:1;
}

.grid-item10 {
  grid-row-start:2;
  grid-column-start:2;
  grid-column-end:2;
}
  
.grid-item5 {
  grid-row-start:2;
  grid-column-start:3;
  grid-column-end:3;
}

.grid-item11 {
  grid-row-start:2;
  grid-column-start:4;
  grid-column-end:4;
}

.grid-item6 {
  grid-row-start:2;
  grid-column-start:5;
  grid-column-end:5;
}
  
.grid-item12 {
  grid-row-start:2;
  grid-column-start:6;
  grid-column-end:6;
  padding:var(--padding-categorias);
}

  .div-producto{
    width:auto;
    padding-bottom:5px;
  }


  .grid-item1>img, .grid-item2>img, .grid-item3>img, .grid-item4>img, .grid-item5>img,
  .grid-item6>img, .grid-item7>img, .grid-item8>img, .grid-item9>img, .grid-item10>img,
  .grid-item11>img, .grid-item12>img {
    width:14svw;
    height:auto;
  }

  .product-font-size {
    text-align: center;
    font-size: 2svw;
  }
/* siguiente sección  */

.stockmusical {
  padding-bottom:20px;
  text-align: justify;
  text-size-adjust: auto;
  }

.mas-info>a {
  border: 10px;  
  border-color:var(--mas-info-border-color);
  color:var(--letra-oscura);
  text-decoration: none; 
  font-weight: 700;
  text-align:left;
 }
 



.mas-info>a>p {
  border:1px;
  border-color:var(--mas-info-a-p-border-color);
  border-style:solid;
}

/* cambio de seccion ****************** */

.jupiter-mapex-schecter {
width:100svw;
display:flex; 
flex-direction: row;
/* justify-content:space-evenly;
align-items: center;
align-content: center;
flex-wrap:nowrap; */
}

.jupiter {
width:30svw;
height:auto;
padding-top:10px;
/* padding-left:5px;
padding-right:5px;  */
}

.mapex {
width:30svw;
height:auto;
padding-top:10px;
/* padding-left:5px;
padding-right:5px;*/ 
}

.schecter {
width: 30svw;
height: auto;
padding-top:10px;
  /* padding-left:5px;
  padding-right:5px; */
}


/* siguiente sección  */
.liquidaciones {
display:flexbox;
flex-direction: row;
height: auto;
width:95vw;
display:flex; 
justify-content:space-evenly;
align-items: center;
align-content: center;
font-size:small;
}

li{
  height: 280px;
  border-color:var(--li-border-color);
  border-style:solid;
  border-radius:10px;
  border:var(--li-border);
}


.dunlop, .skytec, .corneta-sib .rebajados{
align-items:center;
align-content:center;
/* flex-grow:1; */
width:15svw;
height: 10svh;
border: 0px;
padding-top:30px;
padding-bottom: 10px;
padding-left: -10px;
padding-right: -10px;

border-color:var(--dunlop-boder-color);
border-style:solid; 
border-radius: 5px;
}



.precio-liquidaciones {
  color:var(--letra-color);
  font-size:medium;
}

truco{
color:white;
}

.texto-linea-formato {
  margin-top:20px;
}

.linea1 {
width:90%;
border: 1px;
border-color:grey;
margin-top:5px;
margin-bottom: 10px;
margin-left:5svw;
border-style:solid; 

}

.marcas-destacadas {
display:flexbox;
flex-direction: row;
width:99vw;
display:flex; 
justify-content:space-evenly;
align-items: center;
align-content: center;
/* background-color:darkcyan; */
font-size:10px;
flex-wrap: wrap;
}


.marcas-destacadas>h1, .marcas-destacadas>h2 {
width: 99 svw;
}

.marcas-destacadas > h2{
padding-bottom:40px;
}

.linea2{
width:60%;
border: 1px;
border-color:var(--letra-color);
margin-top:30px;
margin-bottom: 10px;
margin-left:0px;
border-style:solid; 


}
.grupo-imagenes {

padding-bottom: 10px;
display:flexbox;
flex-direction: row;

justify-content:space-evenly;
align-items: center;
align-content: center;
background-color:var(--fondo-clarito);
font-size:10px;
}

.grupo-imagenes > img {

width:20svw;
margin: 10px;

}


/* ********** blog *********** */

.h1-blog {
font-size:larger;
}


.container{
margin-left: 3svw;
width:95svw;
height:200svh;
background-color:var(--fondo-clarito);
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-column-gap: 2px;
grid-row-gap: 2px;
}

.box{
  color:var(--letra-oscura);
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:start;
  width: 15svw;
  height: auto;
  font-size:2svw;
  font-family:sans-serif;
}

.box>img {
  width: 14svw;
  height: auto;
  }

.box > h3 {
  margin-top:15px;
  color: var(--letra-color);
  }
.box > p {
padding-right: 0 px;
}

  .linea3 {
    width:50%;
    border: 1px;
    border-color:var(--linea3-border-color);
    margin-top:15px;
    margin-bottom: 10px;
    margin-left:10%;
    border-style:solid;
  }
  
  .footers {
    background: var(--footers-background);
    color: var(--letra-clarita);
    height:auto;
    }
    
    .footer-iconos {
      height:1 svh;
      background-color: var(--tooter-iconos-background-color);
    }
    
    .footer-iconos-grid-parent {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr   ;
      /* grid-template-rows: 1fr; */
      /* gap: 5px; */
      align-self:left;
      align-items:left;
      margin-top: 4px;
      margin-bottom: 15px;
      background-color: var(--footer-iconos-grid-parent);
      }
      

      .grid-item1b{
        grid-row-start:1;
        grid-column-start: 6;
        grid-column-end:7;
        padding:var(--padding-categorias);
        height: 3svh;
        background-color: var(--grid-item1b-background-color);
      }

    
      .grid-item2b{
        grid-row-start:1;
        grid-column-start: 7;
        grid-column-end:8;
        height: 3svh;
        padding:var(--padding-categorias);
      }
    
      .grid-item3b{
        grid-row-start:1;
        grid-column-start:8;
        grid-column-end:9;
        height: 3svh;
        padding:var(--padding-categorias);
      }
    
    .footer1_igualar {
      display: flexbox;
      align-content: left;
      justify-content: left;
      background-color: var(--footer1-igualar-background-color);
    }
    



    .footer1_img {
      width: 10svw;
      height: 10svw;
      background-color: var(--footer1-img);
    }
    
    
    .footer2-envios {
      display:flexbox;
      flex-direction:row;
      text-align:left;
      height: 15svw;
      margin-top: 20px;
    }
    
    .footer2-h3 {
      font-size: calc(10px + 0.390625vw);
      width: 45 svw;
    }
    
    .footer2-img {
    width: 15 svw;  
    }
    
    .footer3-logos {
      width: 85svw;
      margin-bottom: 10svw;
    }
    

    /*......................*/
    
    .ancho100 {
      width:97 svw;
      }
    
    .mayusculas {
      font-size: 9px;
      padding-top:20px;
      padding-bottom: 20px;
    }
    
    .separar {
        padding-top:20px;
    }
    
    .footer4 {
      border:0;
      border-bottom: 1px;
      border-color:var(--footer4-border-color);
      border-style:solid;
      width: 95 svw;
      text-align:left;
      padding-top:15px;
    }

    .div-footer4 {
      font:small;
      position:left;
      text-align:left;
      align-items: left;
      justify-content: left;
      align-self:left;
      align-items:left; 
      text-align:left; 
    }
    
    .imagen-footer4 {
      height:10px;
    }
    
    .imagen-check-footer4 {
      height:10px;
    }
    
    .span-footer4 {
      align-items: left;
      justify-content: left;
      align-self:left;
      align-items:left; 
      text-align:left;
    }
    
    .indentar-footer4 {
      margin-left: 20px;
    }
    
    .espacio-span {
    margin-top: 50px;
    }
    
    .span-position {
      float:left;
    }




  
}

